@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?ono0za");
    src: url("fonts/icomoon.eot?ono0za#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ono0za") format("truetype"),
        url("fonts/icomoon.woff?ono0za") format("woff"), url("fonts/icomoon.svg?ono0za#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* 阿里云在线CSS */
[class^="el-icon-third"],
[class*="el-icon-third"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-courseware:before {
    content: "\e900";
}
.icon-document:before {
    content: "\e901";
}
.icon-exam:before {
    content: "\e902";
}
.icon-finance:before {
    content: "\e903";
}
.icon-home:before {
    content: "\e904";
}
.icon-message:before {
    content: "\e905";
}
.icon-news:before {
    content: "\e906";
}
.icon-order:before {
    content: "\e907";
}
.icon-org:before {
    content: "\e908";
}
.icon-organization:before {
    content: "\e909";
}
.icon-plan:before {
    content: "\e90a";
}
.icon-print:before {
    content: "\e90b";
}
.icon-propose:before {
    content: "\e90c";
}
.icon-report:before {
    content: "\e90d";
}
.icon-statistics:before {
    content: "\e90e";
}
.icon-student:before {
    content: "\e90f";
}
.icon-system:before {
    content: "\e910";
}
